<h3 class="text-2xl font-bold mb-4">
  <svg
    class="size-10 mr-2"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <path
      d="M3 7m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z"
    ></path>
    <path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2"></path>
    <path d="M12 12l0 .01"></path>
    <path d="M3 13a20 20 0 0 0 18 0"></path>
  </svg>
  Experiencia laboral
</h3>


    <div>
      <p class="text-base">
        <strong
          >Desarrollo, mantenimiento y mejora del Backend sobre la web de
          Movistar.</strong
        >
        Utilizando <strong>Java</strong> para su codificación, usaba filtros y
        mapeos para la manipulación de datos. También se utilizaba
        <strong>Spring</strong> para la inyección de dependencias más
        <strong>JUnit y Swagger</strong> para la realización de pruebas
        unitarias. Uso de <strong>API Rest </strong>para resolver la
        comunicación entre aplicaciones internas y de terceros.
      </p>
    </div>

