<nav
class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center">
  <a
    href="#about"
    aria-label="sobre-mi"
    class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
    >Sobre mi</a
  >
  <a href="#experience" class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500">Experiencia</a>
  <a href="#projects" class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500">Proyectos</a>
</nav>
