<nav
  class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center"
>
  <a
    href="#about"
    aria-label="sobre-mi"
    class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
    >Sobre mi</a
  >

<div
    class="section relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
    id="experiencia1"
  >
    <button type="button" (click)="goToSection('experiencia2')">Experiencia</button>
  </div>


  <div
    class="section relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500"
    id="proyectos1"
  >
    <button type="button" (click)="goToSection('proyectos2')">Proyectos</button>
  </div>

  <div class="relative ml-1 mr-1">
    <button
      id="theme-toggle-btn"
      class="appearance-none border-none flex hover:scale-125 transition"
      (click)="toggleMenu()"
    >
      <span class="sr-only"> Elige el tema</span>
      <svg
        class="w-6 h-6 text-gray-800 dark:text-white"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 9a3 3 0 0 1 3-3m-2 15h4m0-3c0-4.1 4-4.9 4-9A6 6 0 1 0 6 9c0 4 4 5 4 9h4Z"
        />
      </svg>
    </button>
    <div
      id="themes-menu"
      [class.hidden]="!isMenuVisible"
      class="absolute scale-80 top-8 right-0 text-sm p-1 min-w-[8rem] rounded-md border border-gray-100 bg-white/90 dark:bg-gray-900/90 dark:border-gray-500/20 shadow-[0_3px_10px_rgb(0,0,0,0.2)] backdrop-blur-md"
    >
      <ul class="flex flex-col gap-1">
        <li>
          <button
            class="flex items-center gap-2 px-2 py-1 hover:bg-gray-100 dark:hover:bg-gray-800"
            (click)="setTheme('Claro')"
          >
            <span
              ><svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 5V3m0 18v-2M7.05 7.05 5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636 16.95 7.05M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z"
                />
              </svg>
            </span>
            <span>Claro</span>
          </button>
        </li>
        <li>
          <button
            class="flex items-center gap-2 px-2 py-1 hover:bg-gray-100 dark:hover:bg-gray-800"
            (click)="setTheme('Oscuro')"
          >
            <span
              ><svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z"
                />
              </svg>
            </span>
            <span>Oscuro</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
