<section
  class="section py-13 md:py-30 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
>
  <h2
    class="flex items-center mb-6 mt-6 text-4xl font-bold gap-x-3"
  >
    FutbolManagerPro
  </h2>

  <div class="flex justify-center mt-8">
    <iframe
      class="w-full aspect-video border-2 border-zinc-400 rounded-lg shadow-2"
      width="800"
      height="400"
      src="https://www.youtube.com/embed/0j2fgNlc-bw?si=Z6zEoBqOcMy1LZpj"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>

  <div class="flex flex-wrap column-gap-2 p-4 mt-5">
    <p class="mt-6 text-xl [&>strong]:text-yellow-600 [&>strong]:font-semibold">
      <strong>FutbolManagerPro</strong>
      es una aplicación creada en Android Studio con la librería de
      <strong>Jetpack Compose</strong> y en lenguaje <strong>Kotlin</strong>.
      Desarrollada como proyecto para fin de grado, actualmente se encuentra en
      fase de desarrollo de manera profesional para su publicación y venta.
    </p>
  </div>

  <div class="relative mt-10 py-5">
    <h1 class="text-2xl font-bold">Pila de tecnología y bibliotecas de código abierto.</h1>
    <ul class="list-disc relative mt-10 ml-6 text-xl [&>strong]:text-yellow-600 [&>strong]:font-semibold">
        <li>Nivel mínimo de SDK 24.</li>
        <li>Uso de <strong>corrutinas</strong> y flujo para operaciones <strong>asíncronas</strong>.</li>
        <li>Bibliotecas Jetpack:</li>
        <li class="ml-8"><strong>Jetpack Compose:</strong> el moderno kit de herramientas de Android para el desarrollo de UI declarativa.</li>
        <li class="ml-8"><strong>Ciclo de vida:</strong> administrando los estados de vida del usuario ante los cambios de ciclo.</li>
        <li class="ml-8"><strong>ViewModel:</strong> administra los datos relacionados con la interfaz de usuario garantizando la supervivencia de los datos.</li>
        <li class="ml-8"><strong>Navegación:</strong> navController.</li>
        <li><strong>Arquitectura MVVM</strong> (Vista- Modelo de vista - Modelo) promueve la capacidad de mantenimiento.</li>
    </ul>
</div>

</section>
