<div class="flex flex-col gap-y-16">
  <h2 class="flex items-center mt-6 text-4xl font-bold gap-x-3">
    <svg
      class="size-7"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 9h3m-3 3h3m-3 3h3m-6 1c-.306-.613-.933-1-1.618-1H7.618c-.685 0-1.312.387-1.618 1M4 5h16a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1Zm7 5a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"
      />
    </svg>
    Sobre Mí
  </h2>

  <article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
    <div>
      <p
        class="mt-2 text-lg [&>strong]:text-yellow-600 [&>strong]:font-semibold"
      >
        Me llamo Cristian Salazar y empecé en la programación en 2018
        matriculándome en la ingeniería informática en la UOC. Ahí me di cuenta
        que me apasioaba el desarrollo de software a si que decidí estudiar el
        <strong
          >Técnico superior en Desarrollador de aplicaciones
          multiplataforma</strong
        >.
      </p>
      <p
        class="mt-2 text-lg [&>strong]:text-yellow-600 [&>strong]:font-semibold"
      >
        Actualmente estoy desarrollando de manera profesional el proyecto fin de
        grado <strong>FutbolManagerPro</strong> para posteriormente publicarlo
        en la <strong>Play Store</strong>.
      </p>
      <p class="mt-2 text-lg [&>strong]:text-yellow-600 [&>strong]:font-semibold">
        Me gusta conocer y aprender nuevas tecnologías, pero mi especialidad es el <strong>Java</strong> para backend.
        Mi objetivo es complementarlo con <strong>Angular</strong> y realizar proyectos de manera <strong>Full-stack</strong>.
      </p>
    </div>
  </article>
</div>
