.image {
  border-radius: 100px;
  width: 150px;
  height: auto;
  border-radius: 100%;
  overflow: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Agrega una sombra */
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
