<div class="flex flex-col gap-y-16 mb-8">
  <h2 class="flex items-center mb-6 mt-6 text-4xl font-bold gap-x-3">
    <svg
      class="size-7"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
      <path d="M7 8l-4 4l4 4"></path>
      <path d="M17 8l4 4l-4 4"></path>
      <path d="M14 4l-4 16"></path>
    </svg>
    Proyectos
  </h2>

  <article
    class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-6 md:space-y-0"
  >
    <div class="w-full md:w-1/2">
      <div
        class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
      >
        <img
          src="/Logo.png"
          class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
          alt="FutbolManagerPro"
          loading="lazy"
        />
      </div>
    </div>

    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="ml-6 text-3xl font-medium">FutbolManagerPro</h3>
      <div class="ml-4 flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
          <li>
            <span
              class="gap-x-2 rounded-full text-base m-2 flex align-items-center justify-content-center bg-[#003159] text-white py-1 px-4"
            >
              <img
                class="jetpack-compose pt-1"
                src="https://miro.medium.com/v2/resize:fit:1400/1*-1elwQ9eKqBI-q6cGngDKg.png"
                alt="Jetpack Compose"
              />
              JetPack Compose</span
            >
          </li>

          <li>
            <span
              class="gap-x-2 rounded-full text-base m-2 flex align-items-center justify-content-center text-justify bg-[#003159] text-white py-1 px-4"
            >
              <img
                class="kotlin pt-1"
                src="https://upload.wikimedia.org/wikipedia/commons/7/74/Kotlin_Icon.png"
                alt="Kotlin"
              />
              Kotlin</span
            >
          </li>
        </ul>

        <p
          class="mt-2 text-lg [&>strong]:text-yellow-700 [&>strong]:font-semibold"
        >
          Aplicación sobre la gestión de equipos de fútbol. Desarrollada en
          <strong>Android</strong> con <strong>Jetpack Compose</strong> y
          <strong>Kotlin</strong>. La aplicación permite la creación de equipos,
          jugadores y partidos. También se pueden realizar búsquedas y filtrados
          sobre los equipos y jugadores.
        </p>
        <nav class="flex-wrap gap-4 mt-6">
          <a
            role="button"
            class="cursor-pointer inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
            (click)="openModal()"
          >
            <svg
              class="size-6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M14 6H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1Zm7 11-6-2V9l6-2v10Z"
              />
            </svg>
            Video
          </a>

          <!-- Modal -->
          <div
            *ngIf="isModalOpen"
            class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50"
          >
            <div
              class="relative bg-white rounded-lg shadow-lg w-11/12 max-w-5xl"
            >
              <!-- Botón para cerrar el modal -->
              <button
                class="absolute top-2 right-2 text-gray-800 hover:text-red-600"
                (click)="closeModal()"
              >
                <svg
                  class="cursor-pointer w-6 h-6 text-orange-500 dark:text-white size-15"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </button>
              <!-- Contenedor del video -->
              <div class="p-4 min-w-min md:min-w-max">
                <iframe
                  class="w-full aspect-video rounded-lg"
                  [src]="videoUrl"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </article>
</div>

<div class="flex flex-col gap-y-16 mb-8 pt-5">
  <article
    class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-6 md:space-y-0"
  >
    <div class="w-full md:w-1/2">
      <div
        class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
      >
        <img
          src="/heroesApp.png"
          class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
          alt="heroesApp"
          loading="lazy"
        />
      </div>
    </div>

    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="ml-6 text-3xl font-medium">La liga de la Justicia</h3>
      <div class="ml-4 flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
          <li>
            <span
              class="gap-x-2 rounded-full text-base m-2 flex align-items-center justify-content-center bg-[#003159] text-white py-1 px-4"
            >
              <img
                class="angular pt-1"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png"
                alt="Jetpack Compose"
              />
              Angular</span
            >
          </li>

          <li>
            <span
              class="gap-x-2 rounded-full text-base m-2 flex align-items-center justify-content-center text-justify bg-[#003159] text-white py-1 px-4"
            >
              <img
                class="material pt-1"
                src="https://codegen.studio/.netlify/images?url=_astro%2Fangular-material.D5FN1OB4.png"
                alt="material"
              />
              Material</span
            >
          </li>
        </ul>

        <p
          class="mt-2 text-lg [&>strong]:text-yellow-700 [&>strong]:font-semibold"
        >
          Mi primera aplicación Web sobre superheroes de la liga de la justicia.
          Desarrollada en
          <strong>Angular</strong> con <strong> Material y PrimeFlex</strong> y
          con un backend <strong>Json</strong>. Podrás añadir, actualizar y
          eliminar todos los superheroes de tus comics favoritos de DC y Marvel.
        </p>

        <nav class="flex-wrap gap-4 mt-6">
          <a
            class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
            href="https://github.com/SalazarCG/HeroesApp"
            target="mensaje"
            role="link"
          >
            <svg
              class="size-6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10 3v4a1 1 0 0 1-1 1H5m5 4-2 2 2 2m4-4 2 2-2 2m5-12v16a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1Z"
              />
            </svg>
            CODE
          </a>

          <a
            role="button"
            class="cursor-pointer inline-flex items-center justify-center gap-2 px-4 py-1 ml-6 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
            (click)="openModal()"
          >
            <svg
              class="size-6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M14 6H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V7a1 1 0 0 0-1-1Zm7 11-6-2V9l6-2v10Z"
              />
            </svg>
            Video
          </a>

          <!-- Modal -->
          <div
            *ngIf="isModalOpen"
            class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-75 z-50"
          >
            <div
              class="relative bg-white rounded-lg shadow-lg w-11/12 max-w-5xl"
            >
              <!-- Botón para cerrar el modal -->
              <button
                class="absolute top-2 right-2 text-gray-800 hover:text-red-600"
                (click)="closeModal()"
              >
                <svg
                  class="size-7 cursor-pointer w-6 h-6 text-orange-500 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="30"
                  height="30"
                  fill="none"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m15 9-6 6m0-6 6 6m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                  />
                </svg>
              </button>
              <!-- Contenedor del video -->
              <div class="p-4 min-w-min md:min-w-max">
                <iframe
                  class="w-full aspect-video rounded-lg"
                  [src]="videoLiga"
                  title="YouTube video player"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </article>
</div>

<div class="flex flex-col gap-y-16 mb-8 pt-5">
  <h2 class="flex items-center mb-6 mt-10 text-4xl font-bold gap-x-3">
    <svg
      class="size-9 text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      fill="none"
      viewBox="0 0 24 24"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5.35709 16V5.78571c0-.43393.34822-.78571.77777-.78571H18.5793c.4296 0 .7778.35178.7778.78571V16M5.35709 16h-1c-.55229 0-1 .4477-1 1v1c0 .5523.44771 1 1 1H20.3571c.5523 0 1-.4477 1-1v-1c0-.5523-.4477-1-1-1h-1M5.35709 16H19.3571M9.35709 8l2.62501 2.5L9.35709 13m4.00001 0h2"
      />
    </svg>
    Proyectos Backend
  </h2>

  <article
    class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-6 md:space-y-0"
  >
    <div class="w-full md:w-1/2">
      <div
        class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50"
      >
        <img
          src="https://assets.entrepreneur.com/content/3x2/2000/1631038470-Ent-JavaProgramming.jpg"
          class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
          alt="heroesApp"
          loading="lazy"
        />
      </div>
    </div>

    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="ml-6 text-3xl font-medium">Netbeans e IntelliJ IDEA</h3>
      <div class="ml-4 flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
          <li>
            <span
              class="gap-x-2 rounded-full text-base m-2 flex align-items-center justify-content-center bg-[#003159] text-white py-1 px-4"
            >
              <img
                class="java mt-2"
                src="https://media.licdn.com/dms/image/v2/D4D12AQFOFh2Xj1bDBw/article-cover_image-shrink_600_2000/article-cover_image-shrink_600_2000/0/1683810512750?e=2147483647&v=beta&t=-JqhZMBbwbgaXq-hHxtNI4OVjBE2zdO1WAGucNzT87s"
                alt="Jetpack Compose"
              />
              </span
            >
          </li>
        </ul>

        <p
          class="mt-2 text-lg [&>strong]:text-yellow-700 [&>strong]:font-semibold"
        >
          Proyectos y tecnologías realizados durante mi formación en el
          <strong>Técnico Superior</strong> de
          <strong> Desarrollo de aplicaciones multiplataforma</strong>.
        </p>

        <nav class="flex-wrap gap-4 mt-6">
          <button
            class="inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white text-md hover:bg-gray-900 hover:border-gray-700 hover:text-white dark:hover:bg-gray-100 dark:hover:border-gray-300 dark:hover:text-black group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
            [routerLink]="'/proyectos'"
            role="link"
          >
            <svg
              class="size-6"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13.213 9.787a3.391 3.391 0 0 0-4.795 0l-3.425 3.426a3.39 3.39 0 0 0 4.795 4.794l.321-.304m-.321-4.49a3.39 3.39 0 0 0 4.795 0l3.424-3.426a3.39 3.39 0 0 0-4.794-4.795l-1.028.961"
              />
            </svg>
            Proyectos
          </button>
        </nav>
      </div>
    </div>
  </article>
</div>
