.jetpack-compose {
  border-radius: 100px;
  width: 20px;
  height: auto;
  margin-bottom: 8px;
}

.kotlin {
  border-radius: 100px;
  width: 20px;
  height: auto;
  margin-bottom: 8px;
}

.angular {
  border-radius: 100px;
  width: 30px;
  height: auto;
  margin-bottom: 8px;
}

.material {
  border-radius: 100px;
  width: 60px;
  height: auto;
  margin-bottom: 8px;
}
.java {
  border-radius: 100px;
  width: 60px;
  height: auto;
  margin-bottom: 8px;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-black {
  background-color: rgba(0, 0, 0, 0.75);
}

.z-50 {
  z-index: 50;
}

.relative {
  position: relative;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
